body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#home{
  /*position: absolute;*/
  position: absolute;
}

.row{
}

.col{
}

#row1{
  margin-left: 0px;
  margin-top: 8px;
}

#centerRow{
  margin-top: max(170px, 17%);
}

#davidseeler{
  text-decoration: none;
  margin-top: 100px
}

#me{
  margin-left: auto;
  margin-right: auto;
}

#profilepic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
  height: 17%;
  min-width: 150px;
  min-height: 150px;
  border: 3px solid white;
  /*border: 3px solid silver;*/
  border-radius: 100%;
}

#greetingDiv{
  display: block;
  text-align: center;
}

#greeting {
  margin-top: 10px;
  color: white;
} 

#davidseeler, .typewrite{
  color: white !important;
  font-size: 140%; 
}

#particles-js{
  position: absolute;
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  z-index: -1;
}

.link{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.link:hover{
  color: #32cd32;
}

#currentLink{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#menuToggle{
  display: block;
  position: absolute;
  margin-top: -40px;
  margin-right: -15px;
  top: 50px;
  right: 50px;

  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  margin-left: -20px;
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

#row3{
  border-top: 4px solid black;
  background-color: silver;
  margin-top: 10%;
}

#socialsBox{
  margin-left: auto;
  margin-right: auto;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}

.fa-linkedin { 
  color: white;
  background: #007bb5;
}

.fa-instagram { 
  background: #E1306C;
  color: white;
}

.fa-github { 
  background: #000000; 
  color: white;
}

.fa-reddit{ 
  background: #ff5700;
  color: white;
}

#socials{
  list-style-type: none;
}

#socials li{
  display: inline;
  float: left;
  
}

#socials li a{
    text-align: center;
    text-decoration: none;
}

#socials li a:hover {
  color: white;
  transition: all 0.5s ease;
}

#socials li a:hover {
  transform: translateY(-10px);
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}

#space{
  color: silver;
}

#aboutmeRow{
  margin-top: min(4.5%, 30px);
  margin-bottom: min(20px, 4%);
}

#aboutmeHeader{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#aboutmePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max(50px, 20%);
  height: max(50px, 20%);
  min-width: 150px;
  min-height: 150px;
  border: 3px solid white;
}

#description{
  margin-top: min(6%, 40px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 8.5%;
  padding-right: 8.5%;
  color: white;
}

#uga {
  outline-color:white;
  color: red;
}

#project1{
  margin-left: auto;
  margin-right: auto;
}

#project1description{
  margin-top: min(3%, 20px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 8.5%;
  padding-right: 8.5%;
  color: white;
}